{% extends 'base.html' %}






{% block content %}

<!------------tmp-------->


<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 text-center  col-md-offset-2" >
			<div class="well bg-dark" style="background-color: grey;color:white">Employe attendence</div>
			 <table class="table table-bordered table-hover" style="background-color: white;">
			    <thead>
			      <tr>
			        <th>নাম</th>
			        <th style="width: 80px">উপস্থিতি</th>
			       
			      </tr>
			    </thead>
			    
			    <tbody>
			    	{% for emp in attend %}
			      <tr>
			        <td>{{emp.name}}</td>
			         
			         <td>
 					 <label ><input type="checkbox" class="attendence" value="{{emp.id}}" name="presence" style="width: 30px;height: 30px;margin:0px;padding: 0px" {% if emp.status == "yes" %} checked {% endif %}>
 					 </label>
 					 </td>
					
			        
			        
			      </tr>
			      {% endfor %}
			    
			    </tbody>
			  </table>




		</div>

	</div>

</div>






<!--employee list ends here-->


{% endblock content %}