
{% extends 'base.html' %}
{% load static %}

<!--external cost item list-->

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 text-center  col-md-offset-2" >
			<div class="well bg-dark" style="background-color: grey;color:white">Extra cost item list</div>
			 <table class="table table-bordered table-hover" style="background-color: white;">
			    <thead>
			    	
			      <tr>
			        <th>Item name</th>
			        <th style="width: 80px">price/unit</th>
			        <th style="width:120px">action</th>
			      </tr>
			    </thead>
			    <tbody id="external_list">
			    	{% for item  in items %}
			      <tr>
			        <td>{{item.item}}</td>
			        <td>{{item.price}}</td>
			        <td><externaledit><a href="#" item-id="{{item.id}}" data-toggle="modal" data-target="#update_external_item">
			        	<img src="{% static 'img/edit.png' %}" height="25px" width="25px" ></a>   </externaledit>   
			        	  <externaldel><a href="#" item-id="{{item.id}}"> <img src="{% static 'img/delete.png' %}" height="25x" width="25px" />
			        	  </a></externaldel>
			        	</td>
			      </tr>
			      {% endfor %}
			    </tbody>
			  </table>




		</div>

	</div>

</div>



<!--MODAL AREA-->


<div id="update_external_item" class="modal fade" role="dialog">
  <div class="modal-dialog" >

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="btn btn-default" id="closerawmaterialupdatemodal" style="float:right" data-dismiss="modal">Close</button>
        <h4 class="modal-title">Update external Items</h4>
      </div>
      <div class="modal-body">

       <div class="form-inline">
       	{% csrf_token %}

      	<div class="form-group " style="display: inline">
  <label for="usr">Item Name:</label>
  <input type="text" class="form-control" autocomplete="off" id="external_items_name_update" style="width:50%">
   <label for="usr">price/unit:</label>
    <input type="number" class="form-control" id="external_items_price_update" style="width:90px">
</div>
<label for="pwd"></label>
</div>


        



      </div>
      <div class="modal-footer">
       <div class="form-group">
       	<input type="hidden" name="id_external" value="">

  <button  class="form-control btn btn-success" id="external_items_update_button" >Update</button>
</div>
      </div>
    </div>

  </div>
</div>



<!-------ends of external cost item list-------------->

{% endblock content %}












