{% extends 'base.html' %}
{% load static %} 





{% block content %}

<div class="container-fluid">

	<div class="row">
		<div class="col-md-7 col-md-offset-1">
			<div class="well bg-dark text-center" style="background-color: grey;color:white"><font size="6"> External Cost Stock</font></div>
			<!-- start of raw material stock-->
			<div class="form-inline ">

      	<div class="form-group text-light" style="display: inline;">
  <label  for="usr"><font color="white"><b>Cost Name:</b></font></label>
  <input type="text" class="form-control" id="external_cost_item" list="datalist" style="width:50%">

     <datalist id="datalist">
     	{% for x in item_list %}
     	<option value="{{x.item}}">
     	{% endfor %}
     	
     	
     </datalist>  
   <label for="usr"><font color="white"><b>Unit:</b></font></label>
    <input type="number" class="form-control" id="external_cost_quantity" style="width:90px">
</div>
<label for="pwd"></label>
<button type="button" class="btn btn-success" id="external_cost_stock_button_click">Add</button>
</div><!-- end of add raw material form-->



<!--stock table starts here-->
<table class="table table-bordered table-hover" style="background-color: white;margin-top: 20px">
			    <thead>
			      <tr>
			        <th style="width:120px">Cost Name</th>
			        <th style="width: 80px">Unit</th>
			        <th style="width:80px">value</th>
			        
			      </tr>
			    </thead>
			    <tbody id="external_list">
			    	{% for item in stock_list %}
	

			      <tr>
			        <td>  {{ item.item.item }} </td>
			        <td>  {{ item.quantity }}   </td>
			        <td>  {{ item.value }}      </td>
			        
			      </tr>

			      {% endfor %}
			      
			    </tbody>
			  </table>

<!--stock table ends here-->



		</div>
	</div>
</div>




{% endblock content %}
