
{% extends 'base.html' %}
{% load static %}


{% block content %}
<!--starting external stock  history area-->



<div class="container-fluid">
	<div class="row">
		<div class="col-md-4   col-md-offset-2" >
			<div class="well bg-dark" style="background-color: grey;color:white;text-align: center;">External Items Stock History</div>
			<form class="form-inline" style="margin: 0px" method="post" action="{% url 'stock_history_search' %}">   {% csrf_token %}
				<div class="form-group" style="margin:0px">
				<label style="margin:0px" for="date">
					From:

				</label>
				<input type="date" name="fromdate_external" id="fromdate_external" class="form-control" style="margin: 0px">
				</div>
				<div class="form-group">
				<label for="date">
					To    

				</label>
				<input type="date" name="todate_external" class="form-control" id="todate_external" style="margin-left: 23px">
				<button type="submit" class="btn btn-success text-center font-weight-bold" id="searchbuttonexternal">Search</button>


			</div>
			
				
			</form>





	
			 <table class="table table-bordered table-hover" style="background-color: white;margin-top: 5px">
			    <thead>
			      <tr>
			        <th style="width:100px">Date</th>
			        <th style="width: 90px">Item name</th>
			        <th style="width:80px">quantity(unit)</th>
			      </tr>
			    </thead>
			    <tbody>
			    	{% for history in hist %}
			      <tr>
			        <td>{{history.date}}</td>
			        <td>{{history.item.item}}</td>
			        <td>{{history.quantity}}</td>
			      </tr>
			     {% endfor %}
			     
			    </tbody>
			  </table>




		</div>

	</div>

</div>













<!-----end of external stock history area--------------->






<!------------------------------------------------------------------>

{% endblock content %}