{% extends 'base.html' %}

{% block content %}


<div class="col-md-10 " style="margin-lef:0px;margin-right:0px">
	<div class="flex-container">


<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <p class="display-3" style="text-align:center;margin-top:17px">মোট বাকি</p>
    </div>
    <div class="flip-card-back">
      <h1>8469389</h1> 
      
    </div>
  </div>
</div>
<!--devider-->
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <p class="display-3" style="text-align:center;margin-top:17px">মোট বাকি</p>
    </div>
    <div class="flip-card-back">
      <h1>8469389</h1> 
      
    </div>
  </div>
</div>
<!--devider-->
	<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <p class="display-3" style="text-align:center;margin-top:17px">মোট বাকি</p>
    </div>
    <div class="flip-card-back">
      <h1>8469389</h1> 
      
    </div>
  </div>
</div>
<!--devider-->

<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <p class="display-3" style="text-align:center;margin-top:17px">মোট বাকি</p>
    </div>
    <div class="flip-card-back">
      <h1>8469389</h1> 
      
    </div>
  </div>
</div>

<!--devider-->


<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <p class="display-3" style="text-align:center;margin-top:17px">মোট বাকি</p>
    </div>
    <div class="flip-card-back">
      <h1>8469389</h1> 
      
    </div>
  </div>
</div>




<!--devider-->


</div>
</div>


{% endblock content %}