

<div class="container-fluid">

	<div class="row">
		<div class="col-md-7 col-md-offset-1">
			<div class="well bg-dark text-center" style="background-color: grey;color:white"><font size="6"> Product Stock</font></div>
			<!-- start of raw material stock-->
			<div class="form-inline ">

      	<div class="form-group text-light" style="display: inline;">
  <label  for="usr"><font color="white"><b>product Name:</b></font></label>
  <input type="text" class="form-control" id="material_name" list="datalist" style="width:50%">

     <datalist id="datalist">
     	<option value="data1">
     	<option value="data2">
     	
     </datalist>  
   <label for="usr"><font color="white"><b>quantity(packet):</b></font></label>
    <input type="number" class="form-control" id="raw_material_price" style="width:90px">
</div>
<label for="pwd"></label>
<button type="button" class="btn btn-success" id="material_stock_button">Add</button>
</div><!-- end of add raw material form-->



<!--stock table starts here-->
<table class="table table-bordered table-hover" style="background-color: white;margin-top: 20px">
			    <thead>
			      <tr>
			        <th style="width:120px">product</th>
			        <th style="width: 80px">packet</th>
			        <th style="width:80px">value</th>
			        <th style="width:80px">action</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>John</td>
			        <td>28</td>
			        <td>89760</td>
			        <td><a href="#"><img src="img/edit.png" height="25px" width="25px" ></a> </td>
			      </tr>
			      <tr>
			        <td>Mary</td>
			        <td>39</td>
			        <td>098768</td>
			        <td><a href="#"><img src="img/edit.png" height="25px" width="25px" ></a> </td>
			      </tr>
			      <tr>
			        <td>July</td>
			        <td>98</td>
			        <td>866888</td>
			      <td><a href="#"><img src="img/edit.png" height="25px" width="25px" ></a></td>
			      </tr>
			    </tbody>
			  </table>

<!--stock table ends here-->



		</div>
	</div>
</div>



