{% extends 'base.html' %}
{% load static %}


{% block content %}


<div class="container-fluid">

	<div class="row">
		<div class="col-md-7 col-md-offset-1">
			<div class="well bg-dark text-center" style="background-color: grey;color:white"><font size="6"> Product Stock</font></div>
			<!-- start of raw material stock-->
			<div class="form-inline ">

      	<div class="form-group text-light" style="display: inline;">
  <label  for="usr"><font color="white"><b>product Name:</b></font></label>
  <input type="text" class="form-control" id="stock_product_name" list="productlist" style="width:50%">

     <datalist id="productlist">
     	{% for x in item_list %}
		<option value="{{x.name}}">
     	{% endfor %}
     	
     	
     </datalist>  
   <label for="usr"><font color="white"><b>quantity(packet):</b></font></label>
   {% csrf_token %}
    <input type="number" class="form-control" id="product_quantity" style="width:90px">
</div>
<label for="pwd"></label>
<button type="button" class="btn btn-success" id="product_stock_button_click">Add</button>
</div><!-- end of add raw material form-->



<!--stock table starts here-->
<table class="table table-bordered table-hover" style="background-color: white;margin-top: 20px">
			    <thead>
			      <tr>
			        <th style="width:120px">product</th>
			        <th style="width: 80px">packet</th>
			        <th style="width:80px">value</th>
			      <!--  <th style="width:80px">action</th> -->
			      </tr>
			    </thead>
			    <tbody id="product_stock_table">
			    	{% for st in stock_list %}
			      <tr>
			        <td>{{st.name}}</td>
			        <td>{{st.quantity}}</td>
			        <td>{{st.value}}</td>
			       <!-- <td><productup><a href="#" data-toggle="modal" data-target="#pro_stock_up_modal" stock-id="{{st.id}}"><img src="{% static 'img/edit.png' %}" height="25px" width="25px" ></a></productup> </td> -->
			      </tr>
			     {% endfor %}
			    </tbody>
			  </table>

<!--stock table ends here-->



		</div>
	</div>
</div>







<!--edit modal area for update-->

<div id="pro_stock_up_modal" class="modal fade" role="dialog">
  <div class="modal-dialog" >

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="btn btn-default" id="closerawmaterialupdatemodal" style="float:right" data-dismiss="modal">Close</button>
        <h4 class="modal-title">Update Stock</h4>
      </div>
      <div class="modal-body">

       <div class="form-inline">
       	{% csrf_token %}

      	<div class="form-group " style="display: inline">
      		<label for="usr">পণ্য:</label>
  <input type="text" class="form-control" autocomplete="off" id="product_stock_item" style="width:40%" disabled="true" />
  <label for="usr">quantity:</label>
  <input type="number" class="form-control" autocomplete="off" id="product_stock_quantity" style="width:91px">
   <label for="usr">value:</label>
    <input type="number" class="form-control" id="product_stock_value" style="width:90px">
</div>
<label for="pwd"></label>
</div>


        



      </div>
      <div class="modal-footer">
      	<input type="hidden" name="product_id_stock" value="">
       <div class="form-group">
       <!--	<input type="hidden" name="id_material" value=""> -->

  <button  class="form-control btn btn-success" id="product_stock_update_button" >Update</button>
</div>
      </div>
    </div>

  </div>
</div>




{% endblock content %}












