


<div class="container-fluid">
	<div class="row">
		<div class="col-md-3   col-md-offset-2" >
			<div class="well bg-dark" style="background-color: grey;color:white;text-align: center;">Product Stock History</div>
			<div class="form-inline" style="margin: 0px">
				<div class="form-group" style="margin:0px">
				<label style="margin:0px" for="date">
					From:

				</label>
				<input type="date" name="from" id="from" class="form-control" style="margin: 0px">
				</div>
				<div class="form-group">
				<label for="date">
					To    

				</label>
				<input type="date" name="to" class="form-control " style="margin-left: 23px">
				<button type="submit" class="btn btn-success text-center font-weight-bold" id="search">Search</button>


			</div>
			
				
			</div>





			</form>
			 <table class="table table-bordered table-hover" style="background-color: white;margin-top: 5px">
			    <thead>
			      <tr>
			        <th style="width:100px">Date</th>
			        <th style="width: 90px">Product</th>
			        <th style="width:80px">quantity(pack)</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>11-12-20</td>
			        <td>biscut</td>
			        <td>26</td>
			      </tr>
			      <tr>
			        <td>22-12-20</td>
			        <td>cake</td>
			        <td>50</td>
			      </tr>
			      <tr>
			        <td>04-12-20</td>
			        <td>bon ruti </td>
			      <td>09</td>
			      </tr>
			    </tbody>
			  </table>




		</div>

	</div>

</div>



















