{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3   col-md-offset-2" >
			<div class="well bg-dark" style="background-color: grey;color:white;text-align: center;">Raw Material Stock History</div>
			<div class="form-inline" style="margin: 0px">
				{% csrf_token %}
				<div class="form-group" style="margin:0px">
				<label style="margin:0px" for="date">
					From:

				</label>
				<input type="date" name="from" id="from" class="form-control" style="margin: 0px">
				</div>
				<div class="form-group">
				<label for="date">
					To    

				</label>
				<input type="date" name="to" class="form-control" id="to" style="margin-left: 23px">
				<button type="submit" class="btn btn-success text-center font-weight-bold" id="searchbutton">Search</button>


			</div>
			
				
			</div>





			</form>
			 <table class="table table-bordered table-hover" style="background-color: white;margin-top: 5px">
			    <thead>
			      <tr>
			        <th style="width:100px">Date</th>
			        <th style="width: 90px">Item name</th>
			        <th style="width:80px">quantity(kg)</th>
			      </tr>
			    </thead>
			    <tbody id="stock_history_list">
			    	{% for h in history %}
			      <tr>
			        <td>{{h.date}}</td>
			        <td>{{h.item.item}}</td>
			        <td>{{h.quantity}}</td>
			      </tr>
			      {% endfor %}
			      
			    </tbody>
			  </table>




		</div>

	</div>

</div>


{%endblock content%}
















