







<!--retail sales starts from here-->



<div class="container-fluid">
	<div class="row">
		<div class="col-md-5 bg-warning" style="padding-top: 15px;margin-left:12px">
      	

       <div class="form-inline">

      	<div class="form-group " style="display: inline">
  <label for="usr" style="margin-left: 55px" >Name:</label>
  <input type="text" autocomplete="off" class="form-control" id="raw_material_name" list="salesman_list_show" style="width:50%">

  <datalist id="salesman_list_show">
  	<option value="safik">
  	<option value="hokjan">
  </datalist>
   
</div>
<!--print image-->
<label for="pwd" style="margin-left: 5px">
	<img id="print" src="img/print.png" height="36px" width="36px">
</label>
<!--end print image-->

<!--plus new window of sale to saleman-->

<!--<label for="pwd">
	<img id="plus_window" src="img/plus_window.png" height="36px" width="36px">
</label>-->

<!--plus new window ends here-->

</div>

<!--for adding multiple raw-material to actual product-->
<div class="form-inline">
	<div class="form-group" style="margin-top:14px">
		<label for="usr" style="margin-left: 40px">Product:</label>
		<input type="text" autocomplete="off" class="form-control" name="material-for-product" list="material_list">
		<datalist id="material_list">
			<option value="data1">
			<option value="data2">
			
		</datalist>

			<label for="usr">pack:</label>
    <input type="number" class="form-control" id="raw_material_price" style="width:90px">


		<img id="register_product_page" src="img/downarrow.png" height="30" width="30" style="margin-left: 10px;">
	</div>

</div>
<!--end of th above comment of multiple raw material-->

<!--temporary table starts here-->

<table class="table table-bordered table-hover" style="background-color: white;margin-top: 16px">
			    <thead>
			      <tr>
			        <th>material name</th>
			        <th style="width: 80px">quantity(gm)</th>
			        <th style="width:120px">action</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>John</td>
			        <td>1626</td>
			        <td><a href="#">        <a href=""> <img src="img/delete.png" height="25x" width="25px" /></a></td>
			      </tr>
			      <tr>
			        <td>John</td>
			        <td>4948</td>
			        <td><a href="#">        <a href=""> <img src="img/delete.png" height="25x" width="25px" /></a></td>
			      </tr>
			      <tr>
			        <td>John</td>
			        <td>0987</td>
			        <td><a href="#">        <a href=""> <img src="img/delete.png" height="25x" width="25px" /></a></td>
			      </tr>
			     
			      
			      





			    </tbody>
			  </table>




<!--temporary table ends there-->


        
</div>



</div>
</div>


   







<!--retail sales ends here----------->








