
{% extends 'base.html' %}
{% load static %}



{% block content %}

<!--base file ends there-->



<!--retail buyers list starts here-->

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 text-center  col-md-offset-2" >
			<div class="well bg-dark" style="background-color: grey;color:white">Buyer list</div>
			<!-- search by date-->

			<form class="form-inline" method="get" action="{% url 'retail_search' %}" style="margin: 0px">
				<div class="form-group" style="margin:0px">
				<label style="margin-left:-76px" for="date">
					From:

				</label>
				<input type="date" name="from_date" id="from-retail" class="form-control" style="margin: 0px">
				</div>
				<div class="form-group">
				<label for="date">
					To    

				</label>
				<input type="date" name="to_date" id="to-retail" class="form-control " style="margin-left: 23px">
				<button type="submit" class="btn btn-success text-center font-weight-bold" id="search-retail">Search</button>


			</div>
			
				
			</form>
			<!--end of search by date-->
			 <table class="table table-bordered table-hover" style="background-color: white;margin-top: 10px">
			    <thead>
			      <tr>
			        <th>Name</th>
			        
			        <th style="width:120px">action</th>
			      </tr>
			    </thead>
			    <tbody>
			    	{% for name in names %}
			      <tr>
			        <td>{{name.name}}</td>
			        
			        <td>
						<a href="#" data-toggle="modal" data-target="#retail_details"><img src="{% static 'img/view_details.png' %}" height="25px" width="25px"></a>
			        	
			            <delretail><a href="#" nameid="{{name.id}}"> <img src="{% static 'img/delete.png' %}" height="25x" width="25px" /></a></delretail>
			        </td>
			      </tr>
			      {% endfor %}
			      
			    </tbody>
			  </table>




		</div>

	</div>

</div>






<!--retail buyers list showing code  ends here-->


<!---modal for retail details-->


<div id="retail_details" class="modal fade" role="dialog" style="height: auto" >
  <div class="modal-dialog" >

    <!-- Modal content-->
    <div class="modal-content" >
      <div class="modal-header">
         <button type="button" class="btn btn-default" style="float:right" data-dismiss="modal">Close</button>
			<div class="row">
         	<div class="col-md-6">

        <h4 class="modal-title">Hasibul Islam</h4></br>
        <h4 style="color:red">Total due:<span style="color:red;font-weight: bold;">19900</span> <span style="color: black">টাকা</span>

        </h4>
        <h4 style="color: red;float: left">Selected Due:<span style="font-weight: bold">1490</span> <span style="color: black">টাকা</span></h4>
   	 		</div>


   	 		<div class="col-md-6 " >

				<span style="display: inline;margin-top: 40px;margin-right:-30px" class="form-inline">

				


				
				<input type="number" style="width:100px;margin-left: 40px;margin-top: 40px" class="form-control"/>
				<button type="button" class="btn btn-warning" style="margin-top: 40px" >জমা দিন</button>
				</span>
			</div>
			</div>

      </div>

      <div class="modal-body" style="height:auto;">

      	

   <div class="form-inline" style="margin: 0px">
				<div class="form-group" style="margin:0px">
				<label style="margin:0px" for="date">
					From:

				</label>
				<input type="date" name="from" id="from" class="form-control" style="margin: 0px">
				</div>
				<div class="form-group">
				<label for="date" style="margin-left: 14px">
					To    

				</label>
				<input type="date" name="to" class="form-control " style="margin-left: 23px">
				<button type="submit" class="btn btn-success text-center font-weight-bold" id="search">Search</button>


			</div>
			
				
			</div>



<!--temporary table starts here-->

<table class="table table-bordered table-hover" style="background-color: white;margin-top: 12px">
			    <thead>
			      <tr>
			        <th>date</th>
			        <th >product</th>
			        <th style="width:90px">quantity</th>
			        <th style="width:90px">value</th>
			        <th style="width:120px">action</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>02/01/2020</td>
			        <td>can tos ggghhh g</td>
			        <td>120</td>
			        <td>137373</td>
			        <td><a href="#" >  <img src="{% static 'img/edit.png' %}" height="25px" width="25px"></a>  <a href=""> <img src="{% static 'img/delete.png' %}" height="25px" width="25px" /></a></td>
			      </tr>
			     
			      





			    </tbody>
			  </table>




<!--temporary table ends there-->


        



      </div>
     
    </div>

  </div>
</div>


<!---end of modal for retail details-->




<!--retail status update-->








<!--end of the section of saleman modification-->


<!--retail status update close here-->



{% endblock content %}



