




<!--sell to salesman section starts here-->

{% extends 'base.html' %}

{% load static %}
{% block content %}



<div class="container-fluid" id="fluid">
	<div class="row" id="row_container">
		<div class="col-md-5 bg-warning pad" style="padding-top: 15px;margin-left:12px">
      	

       <div class="form-inline">

      	<div class="form-group " style="display: inline">
  <label for="usr" >Saleman Name:</label>
  <input type="text" autocomplete="off" class="form-control" id="salemanname1" list="salesman_list_show" style="width:50%">

  <datalist class="salesman_list_show" id="salesman_list_show">
  	{% for saleman in saleman %}
  	<option value="{{saleman.name}}">
  	{% endfor %}
  	
  </datalist>
   
</div>
<!--print image-->
<label for="pwd">
	<img id="print" src="{% static 'img/print.png' %}" height="36px" width="36px">
</label>
<!--end print image-->

<!--plus new window of sale to saleman-->

<label for="pwd">
	<i class="fa fa-paper-plane-o send_button1" style="font-size:36px;color:red;height:36px;width:36px"></i>
</label>

<!--plus new window ends here-->

</div>

<!--for adding multiple raw-material to actual product-->
<div class="form-inline">
	<div class="form-group" style="margin-top:14px">
		<label for="usr" style="margin-left: 46px">Product:</label>
		<input type="text" autocomplete="off" class="form-control" name="material-for-product" list="product_list">
		<datalist class="product_list" id="product_list">
			{% for product in product %}
				<option value="{{product.name}}" >
			{% endfor %}
		</datalist>

			<label for="usr">pack:</label>
    <input type="number" class="form-control" id="raw_material_price" style="width:90px">


		<img class="downarrow" src="{% static 'img/downarrow.png' %}" height="30" width="30" style="margin-left: 10px;">
	</div>

</div>
<!--end of th above comment of multiple raw material-->

<!--temporary table starts here-->

<table class="table table-bordered table-hover" style="background-color: white;margin-top: 16px">
			    <thead>
			      <tr>
			        <th>Product name</th>
			        <th style="width: 80px">quantity(pack)</th>
			        <th style="width:120px">action</th>
			      </tr>
			    </thead>
			    <tbody id="product_listing">
			      
			   
			      





			    </tbody>
			  </table>




<!--temporary table ends there-->


        
</div>

 <!--                ANother sale section   -->
 <div class="col-md-5 bg-warning pad" style="padding-top: 15px;margin-left:12px">
      	

       <div class="form-inline">

      	<div class="form-group " style="display: inline">
  <label for="usr" >Saleman Name:</label>
  <input type="text" autocomplete="off" class="form-control" id="salemanname2" list="salesman_list_show" style="width:50%">

  <datalist class="salesman_list_show" id="salesman_list_show">
  	{% for saleman in saleman %}
  	<option value="{{saleman.name}}">
  	{% endfor %}
  	
  </datalist>
   
</div>
<!--print image-->
<label for="pwd">
	<img id="print" src="{% static 'img/print.png' %}" height="36px" width="36px">
</label>
<!--end print image-->

<!--plus new window of sale to saleman-->

<label for="pwd">
	<i class="fa fa-paper-plane-o send_button2" style="font-size:36px;color:red;height:36px;width:36px"></i>
</label>

<!--plus new window ends here-->

</div>

<!--for adding multiple raw-material to actual product-->
<div class="form-inline">
	<div class="form-group" style="margin-top:14px">
		<label for="usr" style="margin-left: 46px">Product:</label>
		<input type="text" autocomplete="off" class="form-control" name="material-for-product" list="product_list">
		<datalist class="product_list" id="product_list">
			{% for product in product %}
				<option value="{{product.name}}" >
			{% endfor %}
		</datalist>

			<label for="usr">pack:</label>
    <input type="number" class="form-control" id="raw_material_price" style="width:90px">


		<img class="downarrow" src="{% static 'img/downarrow.png' %}" height="30" width="30" style="margin-left: 10px;">
	</div>

</div>
<!--end of th above comment of multiple raw material-->

<!--temporary table starts here-->

<table class="table table-bordered table-hover" style="background-color: white;margin-top: 16px">
			    <thead>
			      <tr>
			        <th>Product name</th>
			        <th style="width: 80px">quantity(pack)</th>
			        <th style="width:120px">action</th>
			      </tr>
			    </thead>
			    <tbody id="product_listing2">
			     
			      





			    </tbody>
			  </table>




<!--temporary table ends there-->


        
</div>



</div>
</div>


   
{% endblock content %}



<!--sell to saleman section ends there-->












